<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code Generator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="logo-text">QrCodeGenerator</div>
      <a href="/history" class="hbutton">History</a>
    </nav>
    <div class="container">
      <main>
        <h1>Generate Qrcode</h1>
        <form id="qr-form">
          <label for="data">Enter the Data</label>
          <input
            type="text"
            id="data"
            name="data"
            placeholder="Enter URL here"
          />
          <label for="filename">Enter the name of QR</label>
          <input
            type="text"
            id="filename"
            name="filename"
            placeholder="Enter file name here"
          />
          <button type="submit" class="generate">Generate QR Code</button>
        </form>
      </main>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
